p {
    font-size: 20px;
    color: black;
}

html {
    color: rgb(58, 53, 53);
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(skyblue, grey, rgb(34, 152, 184))
}

h1 {
    color: rgb(87, 99, 111);

}

br {
    color: black;
}

button {
    color: red;
    font-style: italic;
}

address {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

form {
    border: transparent;
    background-image: url(s.jpeg);
    background-size: cover;
    background-attachment: inherit;
    backface-visibility: unset;
}

fieldset {
    border: solid transparent;
}


.username {
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}

.password {
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}

.login {
    text-align: center;

}

.contact {
    text-align: right;
}

a {
    text-align: center;
}

legend {
    text-align: center;
    border: solid black;
    font-size: x-large;
    font-variant: small-caps;
}

.head {
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

.reset {
    text-align: center;
}

img {
    animation: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-duration: 5s;
}

hr {
    border-color: black;
    border-style: dashed;
}

ol {
    font-size: x-large;
}

nav ul {
    display: inline;
}
